#principal{
    width: 900px;
    height: auto; overflow: hidden;
    border: 0px solid #000;
    margin: auto;
}

body{
    background-color:white;
}

header{
    width: 900px;
    height: 100px;
    border: 1px solid #000;
    background-color: black;
}

.menu{
    width: 900px;
    height: 40px;
    float: right;
}


.menu li{
    list-style: none; 
    font-size: 30px;
    float: left;
    padding: 20px 10px;
    border: 0px solid #000;
    color: white;
    text-decoration: none;
}

a{
    padding: 20px 0px 0px 300px;
    font-size: 20px;
    color: white;
}

#img-grande{
    margin-top: 20px;
    width: 800;
    height: 400,
}

#opciones{
    width: 900 px;
    height: auto; overflow: hidden;
    border: 0px solid #000;
    margin-top: 100px;
}

p{
    margin: 2px;
}

.primero{
    width: 280px;
    height: 420px;
    border: 0px solid;
    float: left;
    padding: 5px;
}

.segundo{
    margin-left: 12px;
    margin-right: 12px;
}


#travesuras{
    width: 800px;
    height: auto; overflow: hidden;
    border: 0px solid #000;
}

#video{
    width: 800px;
    height: 480px;
    float: left; 
    margin-top: 50px;
    padding: 10px 200px 10px 20px;
    margin-left: 30px;
    margin-right: 50px;
}

#text{
    padding: 10px 200px;
}

h3{
    padding: 10px 90px;  
}
.contacto {
    padding: 40px 200px;
}

